In [3]:
import numpy as np
import pandas as pd


df = pd.read_csv('/content/drive/MyDrive/DA tasks/summer.csv')
df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

1. Which year had the highest number of recorded athletes?

In [ ]:
data =  df.groupby('Year')['Athlete'].count()
data.idxmax()

2. Which city hosted the Olympics the most number of times?

In [ ]:
# Count occurrences of each city
city_counts = df['City'].value_counts()

city_counts.idxmax()

3. Which country has the most number of athletes recorded in this dataset?

In [ ]:
data = df['Country'].value_counts()

data.idxmax()

4. Which gender has won more medals according to this dataset?

In [ ]:
data = df['Gender'].value_counts()

data.idxmax()

5. Which country won the most gold medals in the 2008 Olympics?

In [ ]:
record_2008 =  df[df['Year'] == 2008]
record_2008_gold =  record_2008[record_2008['Medal'] == 'Gold' ]
record_2008_gold['Country'].mode()

6. Which athlete has the highest number of medals in a single Olympics year?

In [ ]:
data = df.groupby(['Athlete', 'Year'])['Medal'].count()
data.idxmax()

7. How has the gender distribution of medal winners changed over the decades?

In [ ]:
df['Decade'] = (df['Year'] // 10) * 10

# Group by 'Decade' and 'Gender' and count the number of medals
gender_distribution = df.groupby(['Decade', 'Gender'])['Medal'].count().unstack()

print(gender_distribution)

8. Which country has the most diverse range of sports in which it has won medals?

In [ ]:
# Group by 'Country' and 'Sport' and count unique sports for each country
country_sport_diversity = df.groupby('Country')['Sport'].nunique()

# Find the country with the most diverse range of sports
country_with_most_diverse_sports = country_sport_diversity.idxmax()
most_diverse_sports_count = country_sport_diversity.max()

country_with_most_diverse_sports , most_diverse_sports_count

9. How many athletes have won medals in more than one Olympic Games?

In [ ]:
data = df.groupby('Athlete').count()
d1 =  data[data['Medal'] > 1]
d1['Medal'].sum()

10. Which sport has the highest number of different medal-winning countries?

In [ ]:
data = df.groupby('Sport')['Country'].count()
data.idxmax()